.Modal {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  padding-top: 2rem;
  background-color: #53575c;
}

@media (min-width: 768px) {
  .Modal {
    top: 4rem;
    left: 4rem;
    right: 4rem;
    bottom: 4rem;
    padding-top: 4rem;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #32383e;
}

.btn-close-modal {
  position: absolute;
  right: 0;
  top: 0;
}
